#wrapper {
  width: 1024px;
  margin: 0 auto;
  height: auto;
  /*border: 1px solid black;*/
  /*padding: 0 10px;*/
}
#wrapper a {
  text-decoration: none;
}
#blank { clear: both; }

/*banner*/
#banner h1 {
  margin: 50px 0 20px 0;
}
#banner p {
  margin: 20px 0;
}
/*navbar*/
#navbar {
  background: black;
  color: white;
  height: 40px;
  margin: 30px 0;
}
#navbar li {
  list-style-type: none;
  float: left;
  line-height: 40px;
}

#navbar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 10px;
}
#navbar a:hover {
  background: grey;
  color: black;
}

#navbar #logged {
  float: right;
  color: grey;
}
#navbar #logged a {
  color: #bbbbbb;
}

/*leftbar*/
.leftbar {
  float: left;
  width: 200px;
  height: 100%;
}
#category h1, h2, h3 {
  text-align: left;
  margin-bottom: 10px;
}
#category ul {
  padding-left: 25px;
}

/*mainarea*/
.mainarea { 
  width: 800px;
  float: right;
}
#post_main {
  width: 70%;
  /*clear: both;*/
  float: left;
}
#post_info {
  width: 25%;
  float: right;
  color: grey;
}
