<% content_for :wumi do %>
  <script type="text/javascript">
    var wumiiPermaLink = <%= @post %>;
    var wumiiTitle = <%= @post.title %>;
    var wumiiTags = <%= @post.tag_list.to_s %>;
    var wumiiSitePrefix = "http://www.roverway.info/";
    var wumiiParams = "&num=5&mode=3&pf=JAVASCRIPT";
  </script>
  <script type="text/javascript" src="http://widget.wumii.com/ext/relatedItemsWidget.htm"></script>
  <a href="http://www.wumii.com/widget/relatedItems.htm" style="border:0;"> <img src="http://static.wumii.com/images/pixel.png" alt="无觅相关文章插件，快速提升流量" style="border:0;padding:0;margin:0;" /> </a>
<% end %>

<script type="text/javascript" id="wumiiRelatedItems"></script>

